fieldset {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em !important;
  margin: 0 0 1.5em !important;
  -webkit-box-shadow: 0 0 0 0 #000;
  box-shadow: 0 0 0 0 #000;
}
legend {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
.panel {
  padding: 10px;
}
.select-width {
  width: 100px !important;
}
.navbar .divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-left: 1px solid #0C1212;
  border-right: 1px solid #0C1212;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar2 {
  margin-top: -21px;
}
